@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

#signup{
    background: #FFFF00;
    color:black;
    border: 1px solid #FFFF00;
    cursor: pointer;
}

#signup:hover{
    background: black;
    color:white;
    border:1px solid black;

}

#navbtn:hover{
    color:#FFFF00;
}
#marker{
    color: black;
    font-size: 20px;

}   

